{% extends "auctions/layout.html" %}

{% block body %}

<div class="container-lg">

  <h3>
    {% if title %}{{ title }}
    {% else %}Active Listings{% endif %}
  </h3>
  <div class="row g-3">
    {% for item in items %}
      <div class="col-md-4 col-lg-3">
      {% if title == "Your Wins" %}
      <div class="alert alert-success" role="alert">You Won! at ${{ item.leading_bid }}</div>
      {% endif %}
      {% include "auctions/components/item_card.html" %}
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}