{% extends "auctions/layout.html" %}

{% block body %}
    {% if message %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
    {% endif %}
    <div class="container">
        <a href="{% url 'index' %}" class="link">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><path d="M12 8l-4 4 4 4M16 12H9"/></svg>
        </a>
        <div class="row">
            {% if not item.is_available %}
            <div class="alert alert-warning">
                This item is already closed
            </div>
            {% endif %}
            {% if item.image %}
                <div class="col-md-6 d-flex justify-content-center">
                    <img src="{{ item.image.url }}" alt="Item Image" class="img-fluid item-view-img">
                </div>
            {% endif %}
    
            <div class="col-md-6">
                <div class="fs-4 fw-medium">Description</div>
                <div class="fs-5 fw-light mb-3">{{ item.description }}</div>
                <div class="fs-5 fw-medium"><strong>Owner: </strong>{{ item.owner }}</div>
                <div class="fs-5 fw-medium"><strong>Starting Bid: $</strong>{{ item.price }}</div>
                <div class="fs-5 fw-medium"><strong>Leading Bid: $</strong>{{ item.leading_bid }}</div>


                <div class="my-3">
                    {% if user_bid and user_bid.price == item.leading_bid %}
                    <div class="alert alert-info" role="alert">You have highest bid.</div>
                    {% elif user_bid and user_bid.price != item.leading_bid %}
                    <div class="alert alert-warning" role="alert">You're losing your bid.</div>
                    {% endif %}
                    <div class="fs-6 fw-light">{{ item.bid_count }} bids so far</div>
                    <!-- Close listing option only for owner of item -->
                    {% if item.owner == user %}
                        <form action="{% url 'closed_listing' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ item.id }}">
                            <button class="btn btn-custom px-4 my-3" type="submit">Close Listing</button>
                        </form>
                    {% else %}
                    <!-- Bid option for customers -->
                        <form action="{% url 'item_bid' item.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ item.id }}">
                            <input type="number" name="bid" class="form-control" step="0.01" placeholder="{{ item.leading_bid }}" required>
                            {% if input_warning %}
                                <div class="text-danger form-text">{{ input_warning }}</div>
                            {% endif %}
                            <button class="btn btn-custom px-5 my-3 fw-bold" type="submit" {% if not item.is_available %} disabled {% endif %}>Bid</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>

{% endblock %}